.news-list {
  margin-top: 0rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media @desktop-max {
    flex-direction: column;
  }
    &-item {
      position: relative;
      border-top-right-radius: 50px;
      list-style: none;
      flex: 0 0 96%;
      margin: 2%;
      z-index: 300;
      padding: 1rem;
      @media @tablet {
        flex: 0 0 45.9999%;
      }
    
      @media @small-desktop {
        flex: 0 0 29.33%;
      }

      h2, h3, h4 {
        font-size: 1.5rem;
      }
      
      &-date {
        display: none;
      }
      &-thumbnail {
        height: 250px;
        object-fit: cover;
        width: 100%;
        border-top-right-radius: 50px;
      }
      &-title {
        height: 6rem;
        background-color: @body !important;
        color: black !important;
        a {
          text-decoration: none;
          word-wrap: break-word;
          color: black !important;
        }
        h2 {
          color: black !important;
        }
        padding: 2rem;
        padding-bottom: 3.5rem;     
      }

      &-description {
        display: none;
      }

      &-image {
        height: 250px;
        object-fit: cover;
        width: 100%;
        border-top-right-radius: 50px;
        @media @desktop {
          border-radius: 50%;
        }
  
        &-wrapper {
          display: none;
          max-width: 100%;
  
          @media @desktop {
            display: block;
            left: 0;
            position: absolute !important;
            z-index: -1;
          }
        }
      }
  
      &-content {
        box-shadow: 0px 4px 8px black;
        transition: box-shadow ease-in-out 0.3s;
        border-top-right-radius: 50px;
      }
      &-content:hover {
        box-shadow: 0px 15px 30px black;
        .news-list-item {
          &-title {
            color: @green;
          }
        }
      }
    }
  
    &-frontpage {
    
      @media @desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }